# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# FAISS Index + Pickle
# =========================
data/index.faiss
data/meta.pkl

# =========================
# Database
# =========================
data/*.db

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db